$colors: (
    accent: #2136FF,
    headings: #313131,
    nav-bg: #e9e8e890,
    nav-bg2: #f4f4f4,
    nav-hover: #E1E1E1,
    black: black,
    sprout: #29BB86,
    secondarylink: #1E0A78,
    tertiarylink: #FF8500,
    primarytag: #000956,
    secondarytag: #FF8500,
    tertiarytag: #006CD8,
    eportfolio: #0FBE00,
    sgarage: #CC0000,
    mesh: #F6CD0B,
    youtube: #FF0200
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$fonts: (
    chakra: #{'Chakra Petch', sans-serif},
    heebo: #{'Heebo', sans-serif}
);

@function font($font-name) {
    @return map-get($fonts, $font-name)
}

html {
    scroll-behavior: smooth;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

  button:focus {
      outline: none !important;
      box-shadow: none;
  }

.navbar-custom {
    background-color: color(nav-bg);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    font-family: font(chakra);
    font-weight: 500;
    height: 50px;
    z-index: 100;
    

    .navbar-toggler-icon {
        background-image: "assets/Menu-Toggle.png" !important;
    }

    a {
        color: color(headings);
    }

    li:hover {
        background-color: color(nav-hover);
        border-radius: 5px;
        width: 100%;
    }

    a:hover {
        color: color(black);
    }

    a:focus {
        color: color(accent);
    }
}

.navbar-collapse {
    border-radius: 10px;
    
    margin-left: -15px;
    margin-right: -15px;
}

// Layering and alignment fix for mobile menu

@media only screen and (max-width: 768px) {
    .navbar-collapse {
      background-color: color(nav-bg2);
      opacity: 1;
      margin-top: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    
  }

.navbar-social {
    background-color: color(nav-bg);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 50px;
    width: 190px;

    li:hover {
        background-color: color(nav-hover);
        border-radius: 5px;
    }

}

body {
    h1 {
        font-size: 3rem;
        font-family: font(heebo);
        font-weight: 700;
        color: color(headings);
    }

    h2 {
        font-size: 2rem;
        font-family: font(chakra);
        font-weight: 400;
    }

    h3 {
        font-size: 1.5rem;
        font-family: font(chakra);
        font-weight: 300;
        font-style: italic;
    }

    h4 {
        font-size: 1.25rem;
        text-decoration: none;
        color: color(black);
    }

    h4:hover {
        text-decoration: none;
        color: color(accent);
    }

    h5 {
        font-size: 4rem;
        font-family: font(heebo);
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        font-family: font(heebo);
        font-weight: 500;
        color: color(headings);
    }

}

.landing-body {
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    section {
        height: 100vh;
        scroll-snap-align: start;
    }

    #start {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        padding-bottom: 25px;
    }

    .fas.fa-arrow-circle-down {
        color: color(accent);
        font-size: larger;
    }
}

#project-feature {
    .mobile-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }

    img {
        height: 550px;
        margin-left: 15%;
        margin-right: 100px;
    }

    p{
        color: color(sprout);
    }

    a:hover {
        text-decoration: none;
    }
}

#all-projects {
    .mobile-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .mobile-hero {
            display: none;
        }
    }

    img {
        height: 300px;
        margin-left: 75px;
    }

    p {
        color: color(secondarylink);
    }

    a:hover {
        text-decoration: none;
    }
}

#work-experience {
    .mobile-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
        }
    
        p {
            color: color(tertiarylink);
            text-align: center;
        }
    
        a:hover {
            text-decoration: none;
        }
    
        .layer1 {
            margin-top: 45px;
            z-index: 2;
        }
    
        .layer2 {
            position: absolute;
            z-index: 1;

            img {
                height: 490px;
            }
        }

        #layer-mobile {
            img{
                display: none;
            }
        }
    }
}

#learn-more {
    .mobile-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #mobile-lm-links {
            display: none;
        }

        #lm-mobile-hero {
            display: none;
        }
    }

    h2 {
        margin-left: 100px;
    }

    img {
        height: 75px;
    }

    p{
        color: color(accent);
    }

    a:hover {
        text-decoration: none;
    }

    #i1, #i2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 400px;
    }

    #i1 {
        padding-bottom: 45px;
        
        img {
            margin-right: 25px;
        }
    }

    #i2 {
        padding-top: 45px;
        border-top: 3px black solid;

        img {
            margin-left: 25px;
        }
    }
}

// undo by removing media query, mobilewrapper from html
@media only screen and (max-width: 768px) {
    #project-feature {
        
        .mobile-wrapper {
            margin-right: 0px;            
        

            div:first-child {
                position: absolute;
                z-index: 1;
                padding-right: 45px;
            }
    
            div:nth-child(2) {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 3;
                background-color: color(nav-bg);
                backdrop-filter: blur(4px);
                border-radius: 25px;
                height: 80vh;
                width: 90vw;
            }
        }
    }

    // update images with mobile-versions: all-projects, work-experience, learn-more
    #all-projects, #work-experience, #learn-more {
        
        .mobile-wrapper {
            margin-right: 0px;

            div:nth-child(3) {
                display: block;
                position: absolute;
                z-index: 1;
                
                img {
                    height: 500px;
                    margin-right: 70px;
                }
            }

            div:nth-child(2) {
                display: none;
            }
    
            div:first-child {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 3;
                background-color: color(nav-bg);
                backdrop-filter: blur(6px);
                border-radius: 25px;
                height: 80vh;
                width: 90vw;
                margin-top: -20px;
            }

            .layer1 {
                h2 {
                    margin-left: 25px;
                    margin-right: 25px;
                }

                p {
                    text-shadow: 0px 2px 10px #FFF;
                }
            }

            .layer2 {
                img {
                    display: none;
                }
            }

            #layer-mobile {

                img {
                    display: block;
                    height: 500px;
                    margin-left: 75px;
                    margin-bottom: 50px;
                }
            }

            #i1, #i2 {
                display: none;
            }

            #lm-text {
                display: block;
                position: absolute;
                z-index: 3;

                h2 {
                    margin-left: 0px;
                }
            }

            #mobile-lm-links {
                display: inline-block;
                position: absolute;
                z-index: 3;
                text-align: center;
                margin-top: 125px;
            }

            #lm-mobile-hero {
                display: block;
                position: absolute;
                z-index: 1;

                img {
                    height: 550px;
                }
            }
        }
    }
}

#back-button {
    width: 250px;
    height: 40px;
    background-color: color(nav-bg);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 25% 100%, 15% 50%);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 100px 15px 15px 10px;

    p {
        color: color(accent);
        text-align: center;
        margin: auto;
        padding-left: 50px;
    }

    a:hover {
        text-decoration: none;
    }

    
}


#back-button:hover {
    background-color: color(nav-hover);
    text-decoration: none;
    
    a:hover {
        text-decoration: none;
    }
}

.project-header {
    text-align: center;
    margin-top: 75px;
}

#sprout {
    color: color(sprout);
}

.project-overview {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 50px 0px 50px;
    margin-top: 100px;
}

.project-brief {
    margin-right: 50px;
    max-width: 600px;

    a:hover {
        text-decoration: none;
    }
    
    h5 {
        font-size: 2.5rem;
    }
}

.project-details {
    min-width: 260px;

    h5 {
        font-size: 1.5rem;
    }
}

.product-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#technology {
    display: inline-block;
    padding: 2px 15px 2px 15px;
    border-radius:  25px;
    background-color: color(primarytag);
    color: white;
    margin: auto;
}

#skills {
    display: inline-block;
    padding: 2px 15px 2px 15px;
    border-radius:  25px;
    background-color: color(secondarytag);
    color: white;
    margin: auto;
}

#programs {
    display: inline-block;
    padding: 2px 15px 2px 15px;
    border-radius:  25px;
    background-color: color(tertiarytag);
    color: white;
    margin: auto;
}

.section-header {
    margin: 75px;
    margin-top: 125px;
}

.current-projects, .archived-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;

    a {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 0px 10px 30px 10px;
        width: 30%;
        height: 300px;
        border-radius: 15px;
        background-color: #E1E1E180;
        min-width: 400px;
        
    
        img {
            height: 275px;
            filter: blur(3px);
            margin-top: 9px;
            position: absolute;
            align-self: center;
            z-index: -1;
        }

        #tesla {
            height: 290px;
        }
    }

    .project-block, .archive-block{

        h1 {
            text-align: center;
            margin: auto;
        }
    }

    a:hover {
        background-color: #E1E1E199;
        text-decoration: none;
    }
    
    
}

#eportfolio {
    color: color(eportfolio);

    h5 {
        margin-top: 150px;
        margin-bottom: -100px;
    }
}

#sgarage {
    color: color(secondarylink);
}

#connect-copy {
    text-align: center;
    
    p {
        font-weight: 300;
        font-style: normal;
        margin: 0px 50px 75px 50px;

    }
}

.connect-blocks {

    .social-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    
        a {
            background-color: color(nav-bg);
            padding: 10px;
            border-radius: 10px;
            align-self: center;
            padding-bottom: 15px;
            margin: 20px;
        }

        a:hover {
            background-color: color(nav-hover);
        }
    }

    .email-button {
        display: flex;
        justify-content: center;

        h2 {
            font-size: 1.5rem;
            background-color: color(nav-bg);
            padding: 15px 20px 15px 20px;
            border-radius: 10px;
            color: color(accent);

        }

        h2:hover {
            background-color: color(nav-hover);
        }

        a:hover {
            text-decoration: none;
        }

    }

}

.resume-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        width: 80%;
        background-color: color(nav-bg);
        border-radius: 25px;
        padding: 35px;
        margin-bottom: 25px;
    }
    
    .section-title {
        h2 {
            font-size: 1rem;
            font-weight: 500;
        }
    }
    
    .content-block {
        display: flex;
        flex-direction: column;
        
        p {
            font-size: 1.1rem;
            font-weight: 300;
            line-height: .5rem;
        }

        .iblock {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
    
            .resume-detail {
    
                .detail-title {
        
                    p {
                        font-weight: 700;
                    }
                    
                }
            }
        }
    
    
    }

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #resume-profile {
        img {
            width: 200px;
            border-radius: 10px;
            margin-right: 25px;
        }
    }

    .content-block {
        h1 {
            color: color(accent);
        }
    }

    #contact-resume {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        margin-left: 25px;

        .social-buttons {
            margin-top: 35px;
            margin-left: 10px;
            margin-bottom: 0px;
        }
    }
}


.proficiencies {
    
    .content-block {
        flex-direction: row;
        justify-content: space-around;
    }

    .iblock {

        margin-top: 25px;

        .skills-title {
            p {
                font-size: 1.1rem;
                font-weight: 700;
            }
        }

        .skills-list {


            li {
                list-style-type: round($number: 1);
                font-size: 1.1rem;
                font-weight: 300;
                margin-left: -20px;
            }

            #indent {
                margin-left: 20px;
                font-style: italic;
            }
        }
    }
}
}

#resume-download {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 125px;
    
    p {
        font-weight: 700;
    }

    #download-link {
        color: color(accent);
    }

    a:hover {
        text-decoration: none;
    }
}

@media only screen and (max-width: 850px) {
    
    .resume-body {
        .iblock {
            display: flex;
            flex-direction: column-reverse;
            text-align: left;

            .resume-detail {

                div:nth-child(2) {
                    p:first-child {
                        line-height: 20px;
                    }
                }
            }

            .resume-date {
                p {
                    font-style: italic;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: left;
                }
            }

        }
        .about-me {
            #resume-profile {
                display: none;
            }

            #contact-resume {
                margin-right: 10px;
                margin-left: 5px;
            }

            .section-title {
                display: none;
            }
            .social-buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 15px;

                div {
                    margin-bottom: 25px;
                }
                
                a {
                    background-color: color(nav-bg);
                    padding: 10px;
                    border-radius: 60px;
                    margin-right: 15px;
                    padding-bottom: 15px;
                }

                a:hover {
                    background-color: color(nav-hover);
                }
            }
        }
    }
}

.source-button {

    background-color: color(nav-bg);
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px 15px 0px 15px;
    margin-top: 25px;
    border-radius: 15px;

    img {
        height: 30px;
        padding-right: 10px;
    }

    p {
        color: color(accent);
        padding-top: 4px;
    }
}

.source-button:hover {
    background-color: color(nav-hover);
}

.project-content {
    margin: -30px 50px 50px 50px;
}

#everyday-portfolio, #mesh-content, #sprout-content {

    #hero-image {

        display: flex;
        justify-content: center;

        img {
            height: 900px;
            text-align: center;
            margin-bottom: -40px;
        }
    }

    h5 {
        text-align: center;
        color: #4a4a4a;
        margin-top: -40px;
    }

    #document-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;

        i {
            margin-right: 10px;
        }

        #project-proposal, #design-brief {
            margin-right: 50px;
        }

        #project-proposal, #design-brief, #see-project {
            background-color: color(nav-bg);
            border-radius: 15px;
            height: 43px;

            p {
                margin: 0;
                padding: 10px 20px 10px 20px; 
                color: color(accent);
            }

            img {
                height: 18px;
                margin-top: -3px;
            }

            a:hover {
                text-decoration: none;
            }
        }

        #project-proposal:hover, #design-brief:hover, #see-project:hover {
            background-color: color(nav-hover);
        }
    }

    #ui-showcase {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 150px 25px 50px 25px;

        img {
            height: 700px;
        }
    }
}

#seths-garage {

    #hero-image {
        display: flex;
        justify-content: center;

        img {
            width:100%;
            max-width: 1500px;
            text-align: center;
            margin-top: 75px;
            margin-bottom: -40px;
        }
    }
}


#mesh {
    color: color(mesh);
    height: 200px;

    #mesh-title {
        margin-top: 200px;
        padding-bottom: 50px;
    } 
}

#subhead {
    color: color(mesh);
}

#mesh-content {
    margin-bottom: -200px;

    #hero-content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 25%;
            margin-bottom: 150px;
        }
    }
}

#mesh-overview {
    padding-top: 175px;
    height: 550px;
}

#sprout-content {

    #hero-image-sprout {
        display: flex;
        justify-content: center;
        
        img {
            height: 800px;
        }

        h5 {
            padding-top: 20px;
        }
    }

    #secondary-sprout {

        display: flex;
        justify-content: center;
        margin-top: 100px;

        img {
            width: 90%;
        }
    }
}

#mesh-body {

    #mesh-video {
        padding-top: 150px;
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 65%;
        height: 580px;
        border-radius: 25px;
    }
}

#youtube-header {
    img {
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 150px;
    }
}

#youtube-banner {
    img {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 50px;
    }
}

#youtube-buttons {
    display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 10px;
        margin-left: 50px;

        i {
            margin-right: 10px;
        }

        #yt-button{
            margin-right: 50px;
        }

        #yt-button {
            background-color: color(youtube);
            border-radius: 15px;
            height: 43px;

            p {
                margin: 0;
                padding: 10px 20px 10px 20px; 
                color: white;
            }

            a:hover {
                text-decoration: none;
            }
        }

        #yt-button:hover {
            background-color: color(nav-bg);

            p:hover {
                color: color(youtube);
            }
        }
    }
