html {
  scroll-behavior: smooth;
}

.btn:focus, .btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-custom {
  background-color: #F4F4F4;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  font-family: Chakra Petch, sans-serif;
  font-weight: 500;
  height: 50px;
  opacity: 0.75;
  z-index: 100;
}

.navbar-custom .navbar-toggler-icon {
  background-image: "assets/Menu-Toggle.png" !important;
}

.navbar-custom a {
  color: #313131;
}

.navbar-custom li:hover {
  background-color: #E1E1E1;
  border-radius: 5px;
  width: 100%;
}

.navbar-custom a:hover {
  color: black;
}

.navbar-custom a:focus {
  color: #2136FF;
}

.navbar-collapse {
  background-color: #F4F4F4;
  border-radius: 0px 0px 5px 5px;
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-social {
  background-color: #F4F4F4;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 50px;
  opacity: 0.85;
  width: 190px;
}

.navbar-social li:hover {
  background-color: #E1E1E1;
  border-radius: 5px;
}

body h1 {
  font-size: 3rem;
  font-family: Heebo, sans-serif;
  font-weight: 700;
  color: #313131;
}

body h2 {
  font-size: 2rem;
  font-family: Chakra Petch, sans-serif;
  font-weight: 400;
}

body h3 {
  font-size: 1.5rem;
  font-family: Chakra Petch, sans-serif;
  font-weight: 300;
  font-style: italic;
}

body h4 {
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

body h4:hover {
  text-decoration: none;
  color: #2136FF;
}

body h5 {
  font-size: 4rem;
  font-family: Heebo, sans-serif;
  font-weight: 700;
}

body p {
  font-size: 1rem;
  font-family: Heebo, sans-serif;
  font-weight: 500;
  color: #313131;
}

.landing-body {
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.landing-body .vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.landing-body section {
  height: 100vh;
  scroll-snap-align: start;
}

.landing-body #start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 25px;
}

.landing-body .fas.fa-arrow-circle-down {
  color: #2136FF;
  font-size: larger;
}

#project-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
}

#project-feature img {
  height: 550px;
  margin-left: 15%;
  margin-right: 100px;
}

#project-feature p {
  color: #29BB86;
}

#project-feature a:hover {
  text-decoration: none;
}

#all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#all-projects img {
  height: 300px;
  margin-left: 75px;
}

#all-projects p {
  color: #1E0A78;
}

#all-projects a:hover {
  text-decoration: none;
}

#work-experience h2 {
  text-align: center;
}

#work-experience p {
  color: #FF8500;
  text-align: center;
}

#work-experience img {
  height: 490px;
}

#work-experience a:hover {
  text-decoration: none;
}

#work-experience .layer1 {
  margin-top: 15px;
  position: absolute;
  z-index: 2;
}

#work-experience .layer2 {
  position: absolute;
  z-index: 1;
}

#learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#learn-more h2 {
  margin-left: 100px;
}

#learn-more img {
  height: 75px;
}

#learn-more p {
  color: #2136FF;
}

#learn-more a:hover {
  text-decoration: none;
}

#learn-more #i1, #learn-more #i2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

#learn-more #i1 {
  padding-bottom: 45px;
}

#learn-more #i1 img {
  margin-right: 25px;
}

#learn-more #i2 {
  padding-top: 45px;
  border-top: 3px black solid;
}

#learn-more #i2 img {
  margin-left: 25px;
}

#back-button {
  width: 250px;
  height: 40px;
  background-color: #F4F4F4;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  opacity: 0.85;
  -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 25% 100%, 15% 50%);
          clip-path: polygon(25% 0, 100% 0%, 100% 100%, 25% 100%, 15% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 15px 15px 10px;
}

#back-button p {
  color: #2136FF;
  text-align: center;
  margin: auto;
  padding-left: 50px;
}

#back-button a:hover {
  text-decoration: none;
}

#back-button:hover {
  background-color: #E1E1E1;
  text-decoration: none;
}

#back-button:hover a:hover {
  text-decoration: none;
}

.project-header {
  text-align: center;
  margin-top: 75px;
}

#sprout {
  color: #29BB86;
}

.project-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 50px 50px 0px 50px;
  margin-top: 100px;
}

.project-brief {
  margin-right: 50px;
  max-width: 600px;
}

.project-brief a:hover {
  text-decoration: none;
}

.project-brief h5 {
  font-size: 2.5rem;
}

.project-details {
  min-width: 260px;
}

.project-details h5 {
  font-size: 1.5rem;
}

.product-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#technology {
  display: inline-block;
  padding: 2px 15px 2px 15px;
  border-radius: 25px;
  background-color: #000956;
  color: white;
  margin: auto;
}

#skills {
  display: inline-block;
  padding: 2px 15px 2px 15px;
  border-radius: 25px;
  background-color: #FF8500;
  color: white;
  margin: auto;
}

#programs {
  display: inline-block;
  padding: 2px 15px 2px 15px;
  border-radius: 25px;
  background-color: #006CD8;
  color: white;
  margin: auto;
}

.section-header {
  margin: 75px;
}

.current-projects, .archived-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px;
}

.current-projects a, .archived-projects a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 10px 30px 10px;
  width: 30%;
  height: 300px;
  border-radius: 15px;
  background-color: #E1E1E180;
  min-width: 400px;
}

.current-projects a img, .archived-projects a img {
  height: 275px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  margin-top: 9px;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: -1;
}

.current-projects a #tesla, .archived-projects a #tesla {
  height: 290px;
}

.current-projects .project-block h1, .current-projects .archive-block h1, .archived-projects .project-block h1, .archived-projects .archive-block h1 {
  text-align: center;
  margin: auto;
}

.current-projects a:hover, .archived-projects a:hover {
  background-color: #E1E1E199;
  text-decoration: none;
}

#eportfolio {
  color: #0FBE00;
}

#eportfolio h5 {
  margin-top: 150px;
  margin-bottom: -100px;
}

#sgarage {
  color: #1E0A78;
}

#connect-copy {
  text-align: center;
}

#connect-copy p {
  font-weight: 300;
  font-style: normal;
  margin: 0px 50px 75px 50px;
}

.connect-blocks .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.connect-blocks .social-buttons a {
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 25px;
}

.connect-blocks .social-buttons a:hover {
  background-color: #E1E1E1;
}

.connect-blocks .email-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connect-blocks .email-button h2 {
  font-size: 1.5rem;
  background-color: #F4F4F4;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  color: #2136FF;
}

.connect-blocks .email-button h2:hover {
  background-color: #E1E1E1;
}

.connect-blocks .email-button a:hover {
  text-decoration: none;
}

.resume-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-body section {
  width: 80%;
  background-color: #F4F4F4;
  border-radius: 25px;
  padding: 35px;
  margin-bottom: 25px;
}

.resume-body .section-title h2 {
  font-size: 1rem;
  font-weight: 500;
}

.resume-body .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume-body .content-block p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: .5rem;
}

.resume-body .content-block .iblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.resume-body .content-block .iblock .resume-detail .detail-title p {
  font-weight: 700;
}

#resume-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 75px;
}

#resume-download p {
  font-weight: 700;
}

#resume-download #download-link {
  color: #2136FF;
}

#resume-download a:hover {
  text-decoration: none;
}

.source-button {
  background-color: #F4F4F4;
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px 0px 15px;
  margin-top: 25px;
  border-radius: 15px;
}

.source-button img {
  height: 30px;
  padding-right: 10px;
}

.source-button p {
  color: #2136FF;
  padding-top: 4px;
}

.source-button:hover {
  background-color: #E1E1E1;
}

.project-content {
  margin: -30px 50px 50px 50px;
}

#everyday-portfolio #hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#everyday-portfolio #hero-image img {
  height: 900px;
  text-align: center;
  margin-bottom: -40px;
}

#everyday-portfolio h5 {
  text-align: center;
  color: #4a4a4a;
  margin-top: -40px;
}

#everyday-portfolio #document-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#everyday-portfolio #document-container i {
  margin-right: 10px;
}

#everyday-portfolio #document-container #project-proposal, #everyday-portfolio #document-container #design-brief {
  margin-right: 50px;
}

#everyday-portfolio #document-container #project-proposal, #everyday-portfolio #document-container #design-brief, #everyday-portfolio #document-container #see-project {
  background-color: #F4F4F4;
  border-radius: 15px;
  height: 43px;
}

#everyday-portfolio #document-container #project-proposal p, #everyday-portfolio #document-container #design-brief p, #everyday-portfolio #document-container #see-project p {
  margin: 0;
  padding: 10px 20px 10px 20px;
  color: #2136FF;
}

#everyday-portfolio #document-container #project-proposal img, #everyday-portfolio #document-container #design-brief img, #everyday-portfolio #document-container #see-project img {
  height: 18px;
  margin-top: -3px;
}

#everyday-portfolio #document-container #project-proposal a:hover, #everyday-portfolio #document-container #design-brief a:hover, #everyday-portfolio #document-container #see-project a:hover {
  text-decoration: none;
}

#everyday-portfolio #document-container #project-proposal:hover, #everyday-portfolio #document-container #design-brief:hover, #everyday-portfolio #document-container #see-project:hover {
  background-color: #E1E1E1;
}

#everyday-portfolio #ui-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 150px 25px 50px 25px;
}

#everyday-portfolio #ui-showcase img {
  height: 700px;
}
/*# sourceMappingURL=main.css.map */