$colors: (
    accent: #2136FF,
    headings: #313131,
    nav-bg: #F4F4F4,
    nav-hover: #E1E1E1,
    black: black,
    sprout: #29BB86
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$fonts: (
    chakra: #{'Chakra Petch', sans-serif},
    heebo: #{'Heebo', sans-serif}
);

@function font($font-name) {
    @return map-get($fonts, $font-name)
}

.navbar-custom {
    background-color: color(nav-bg);
    border-radius: 10px;
    font-family: font(chakra);
    font-weight: 500;
    height: 50px;

    .navbar-toggler-icon {
        background-image: "assets/Menu-Toggle.png" !important;
    }

    a {
        color: color(headings);
    }

    li:hover {
        background-color: color(nav-hover);
        color: color(nav-bg);
        border-radius: 5px;
        width: 100%;
    }

    li:active {
        color: color(accent);
    }
}

body {
    h1 {
        font-size: 3rem;
        font-family: font(heebo);
        font-weight: 700;
        color: color(headings);
    }

    h2 {
        font-size: 2rem;
        font-family: font(chakra);
        font-weight: 400;
    }

    h3 {
        font-size: 1.5rem;
        font-family: font(chakra);
        font-weight: 300;
        font-style: italic;
    }

    p {
        font-size: 1rem;
        font-family: font(heebo);
        font-weight: 500;
        color: color(headings);
    }

}

body {
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
    
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    section {
        height: 100vh;
        scroll-snap-align: start;
    }

    #landing {
        margin-left: 20%;
    }

}

#project-feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;

    img {
        height: 550px;
        margin-left: 15%;
        margin-right: 100px;
    }

    p{
        color: color(sprout);
    }
}







